{{- $root := . }}
{{- range $name, $deploy := .Values.deployments }}
{{- if and $deploy $deploy.configMap }}
{{- $depFullname := include "global-chart.deploymentFullname" (dict "root" $root "deploymentName" $name) }}
{{- $labelCtx := dict "root" $root "deploymentName" $name }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $depFullname }}
  labels:
    {{- include "global-chart.deploymentLabels" $labelCtx | nindent 4 }}
data:
{{- range $key, $value := $deploy.configMap }}
  {{- if or (kindIs "map" $value) (kindIs "slice" $value) }}
  {{ $key }}:
    {{- toYaml $value | nindent 4 }}
  {{- else }}
  {{ $key }}: {{ toString $value | quote }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
