{{- if .Values.hooks }}
{{- $root := . }}
{{- range $hookType, $jobs := .Values.hooks }}
  {{- range $name, $command := $jobs }}
    {{- if $command }}
{{- $inheritRaw := default (dict) $command.inheritFromDeployment -}}
{{- $inherit := (kindIs "map" $inheritRaw) | ternary $inheritRaw (dict) -}}
{{- $inhSA := (hasKey $inherit "serviceAccount") | ternary ($inherit.serviceAccount) true -}}
{{- $commandSAMap := (and (hasKey $command "serviceAccount") (kindIs "map" $command.serviceAccount)) | ternary $command.serviceAccount (dict) -}}
{{- $commandSAExplicitName := coalesce $command.serviceAccountName $commandSAMap.name -}}
{{- $customSANamed := not (empty $commandSAExplicitName) -}}
{{- $inhSAEff := and (not $customSANamed) $inhSA $root.Values.deployment.enabled -}}
{{- $saCreate := $root.Values.deployment.serviceAccount.create -}}
{{- if hasKey $commandSAMap "create" -}}
  {{- $saCreate = $commandSAMap.create -}}
{{- end -}}
{{- $saAutomount := true -}}
{{- if hasKey $command "automountServiceAccountToken" -}}
  {{- $saAutomount = $command.automountServiceAccountToken -}}
{{- end -}}
{{- if hasKey $commandSAMap "automountServiceAccountToken" -}}
  {{- $saAutomount = $commandSAMap.automountServiceAccountToken -}}
{{- end -}}
{{- if hasKey $commandSAMap "automount" -}}
  {{- $saAutomount = $commandSAMap.automount -}}
{{- end -}}
{{- $saAnnotations := $command.serviceAccountAnnotations -}}
{{- if hasKey $commandSAMap "annotations" -}}
  {{- $saAnnotations = $commandSAMap.annotations -}}
{{- end -}}
{{- if and (not $inhSAEff) (or $saCreate (not $customSANamed)) }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ default (include "global-chart.hookfullname" (merge (dict "hookname" $hookType "jobname" $name) $root)) $commandSAExplicitName }}
  namespace: {{ $root.Release.Namespace | quote }}
  labels:
    {{- include "global-chart.hookLabels" $root | nindent 4 }}
  {{- with $saAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ $saAutomount }}
{{- end }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "global-chart.hookfullname" (merge (dict "hookname" $hookType "jobname" $name) $root) }}
  labels:
    {{- include "global-chart.hookLabels" $root | nindent 4 }}
  annotations:
    "helm.sh/hook": {{ $hookType | quote }}
    "helm.sh/hook-weight": {{ default "10" $command.weight | quote }}
    "helm.sh/hook-delete-policy": {{ default "before-hook-creation" $command.deletePolicy | quote }}
spec:
  template:
    metadata:
      name: {{ include "global-chart.hookfullname" (merge (dict "hookname" $hookType "jobname" $name) $root) }}
      labels:
        {{- include "global-chart.hookLabels" $root | nindent 8 }}
    spec:
      serviceAccountName: {{ if $inhSAEff }}{{ include "global-chart.serviceAccountName" $root | quote }}{{ else }}{{ default (include "global-chart.hookfullname" (merge (dict "hookname" $hookType "jobname" $name) $root)) $commandSAExplicitName | quote }}{{ end }}
      {{- with $root.Values.deployment.imagePullSecrets }}
      imagePullSecrets:
        {{- range . }}
          {{- if kindIs "string" . }}
        - name: {{ . | quote }}
          {{- else if hasKey . "name" }}
        - name: {{ .name | quote }}
          {{- else }}
          {{- fail "imagePullSecrets must be a list of strings or objects with a 'name' key." }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- if $root.Values.deployment.hostAliases }}
      hostAliases:
        {{- toYaml $root.Values.deployment.hostAliases | nindent 8 }}
      {{- end }}
      {{- if or $root.Values.deployment.dnsConfig.nameservers $root.Values.deployment.dnsConfig.searches $root.Values.deployment.dnsConfig.options }}
      dnsConfig:
        {{- if $root.Values.deployment.dnsConfig.nameservers }}
        nameservers:
          {{- range $root.Values.deployment.dnsConfig.nameservers }}
          - {{ . }}
          {{- end }}
        {{- end }}
        {{- if $root.Values.deployment.dnsConfig.searches }}
        searches:
          {{- range $root.Values.deployment.dnsConfig.searches }}
          - {{ . }}
          {{- end }}
        {{- end }}
        {{- if $root.Values.deployment.dnsConfig.options }}
        options:
          {{- range $root.Values.deployment.dnsConfig.options }}
          - name: {{ .name }}
            {{- if .value }}
            value: {{ .value | quote }}
            {{- end }}
          {{- end }}
        {{- end }}
      {{- end }}
      restartPolicy: {{ default "Never" $command.restartPolicy | quote }}
      containers:
      - name: {{ include "global-chart.hookfullname" (merge (dict "hookname" $hookType "jobname" $name) $root) }}
        {{- $cmdImage := "" }}
        {{- if hasKey $command "image" }}
          {{- $cmdImage = include "global-chart.imageString" $command.image -}}
        {{- end }}
        {{- $depImage := include "global-chart.imageString" $root.Values.deployment.image }}
        {{- $imageRef := required (printf "image is required for hooks.%s.%s (set hooks.%s.%s.image or deployment.image)" $hookType $name $hookType $name) (default $depImage $cmdImage) }}
        image: {{ $imageRef | quote }}
        imagePullPolicy: {{ include "global-chart.imagePullPolicy" (dict "override" $command.imagePullPolicy "image" $command.image "fallback" $root.Values.deployment.image.pullPolicy) | quote }}
        {{- if $command.command }}
        command:
          {{- toYaml $command.command | nindent 10 }}
        {{- end }}
        {{- if $command.args }}
        args:
          {{- toYaml $command.args | nindent 10 }}
        {{- end }}
        {{- if or $root.Values.deployment.configMap $root.Values.deployment.envFromConfigMaps $root.Values.deployment.secret $root.Values.deployment.envFromSecrets }}
        envFrom:
          {{- if $root.Values.deployment.configMap }}
          - configMapRef:
              name: {{ template "global-chart.fullname" $root }}
          {{- end }}
          {{- range $cm := $root.Values.deployment.envFromConfigMaps }}
          - configMapRef:
              name: {{ $cm | quote }}
          {{- end }}
          {{- if $root.Values.deployment.secret }}
          - secretRef:
              name: {{ template "global-chart.fullname" $root }}
          {{- end }}
          {{- range $sec := $root.Values.deployment.envFromSecrets }}
          - secretRef:
              name: {{ $sec | quote }}
          {{- end }}
        {{- end }}
        {{- if $root.Values.deployment.additionalEnvs }}
        env:
          {{- range $env := $root.Values.deployment.additionalEnvs }}
          - name: {{ $env.name | quote }}
            valueFrom:
              {{- toYaml $env.valueFrom | nindent 14 }}
          {{- end }}
        {{- end }}
        {{- $inheritRaw := default (dict) $command.inheritFromDeployment -}}
        {{- $inherit := (kindIs "map" $inheritRaw) | ternary $inheritRaw (dict) -}}
        {{- $inhVM  := (hasKey $inherit "volumeMounts")       | ternary ($inherit.volumeMounts)       true -}}
        {{- $inhV   := (hasKey $inherit "volumes")            | ternary ($inherit.volumes)            true -}}
        {{- $inhMCF := (hasKey $inherit "mountedConfigFiles") | ternary ($inherit.mountedConfigFiles) true -}}
        {{- $inhVMEff  := and $inhVM  $root.Values.deployment.enabled -}}
        {{- $inhVEff   := and $inhV   $root.Values.deployment.enabled -}}
        {{- $inhMCFEff := and $inhMCF $root.Values.deployment.enabled -}}
        {{- $hasCmdVM := hasKey $command "volumeMounts" -}}
        {{- $hasCmdV  := hasKey $command "volumes" -}}
        {{- $vm := $hasCmdVM | ternary $command.volumeMounts (and $inhVMEff  $root.Values.deployment.volumeMounts) -}}
        {{- $v  := $hasCmdV  | ternary $command.volumes      (and $inhVEff  $root.Values.deployment.volumes) -}}
        {{- $dep := dict "volumeMounts" $vm "volumes" $v -}}
        {{- $mountedConfigFiles := $root.Values.deployment.mountedConfigFiles -}}
        {{- if or $dep.volumeMounts (and $inhMCFEff $mountedConfigFiles (or $mountedConfigFiles.files $mountedConfigFiles.bundles)) }}
        volumeMounts:
          {{- with $dep.volumeMounts }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- if and $inhMCFEff $mountedConfigFiles $mountedConfigFiles.files }}
          {{- range $i, $f := $mountedConfigFiles.files }}
          - name: md-cm-file-{{ $f.name }}
            mountPath: {{ $f.targetPath }}
            subPath: {{ $f.filename }}
            readOnly: true
          {{- end }}
          {{- end }}
          {{- if and $inhMCFEff $mountedConfigFiles $mountedConfigFiles.bundles }}
          {{- range $bi, $b := $mountedConfigFiles.bundles }}
          - name: md-cm-bundle-{{ $bi }}
            mountPath: {{ $b.mountDir }}
            readOnly: true
          {{- end }}
          {{- end }}
        {{- end }}
      {{- if or $dep.volumes (and $inhMCFEff $mountedConfigFiles (or $mountedConfigFiles.files $mountedConfigFiles.bundles)) }}
      volumes:
        {{- with $dep.volumes }}
        {{- range . }}
        - name: {{ .name }}
          {{- if eq .type "emptyDir" }}
          emptyDir: {}
          {{- end }}
          {{- if eq .type "configMap" }}
          configMap:
            name: {{ .configMap.name | quote }}
          {{- end }}
          {{- if eq .type "secret" }}
          secret:
            secretName: {{ default .secret.secretName .secret.name | quote }}
          {{- end }}
          {{- if eq .type "persistentVolumeClaim" }}
          persistentVolumeClaim:
            claimName: {{ default .persistentVolumeClaim.claimName .persistentVolumeClaim.name | quote }}
          {{- end }}
        {{- end }}
        {{- end }}
        {{- if and $inhMCFEff $mountedConfigFiles $mountedConfigFiles.files }}
        {{- range $i, $f := $mountedConfigFiles.files }}
        - name: md-cm-file-{{ $f.name }}
          configMap:
            name: {{ include "global-chart.fullname" $root }}-md-cm-{{ $f.name }}
        {{- end }}
        {{- end }}
        {{- if and $inhMCFEff $mountedConfigFiles $mountedConfigFiles.bundles }}
        {{- range $bi, $b := $mountedConfigFiles.bundles }}
        - name: md-cm-bundle-{{ $bi }}
          projected:
            sources:
            {{- range $fi, $f := $b.files }}
              - configMap:
                  name: {{ include "global-chart.fullname" $root }}-md-cm-{{ $f.name }}
                  items:
                    - key: {{ $f.relPath | base }}
                      path: {{ $f.relPath }}
            {{- end }}
        {{- end }}
        {{- end }}
      {{- end }}
      {{- if or $command.nodeSelector $root.Values.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml (default $root.Values.deployment.nodeSelector $command.nodeSelector) | nindent 8 }}
      {{- end }}
      {{- if or $command.affinity $root.Values.deployment.affinity }}
      affinity:
        {{- toYaml (default $root.Values.deployment.affinity $command.affinity) | nindent 8 }}
      {{- end }}
      {{- if or $command.tolerations $root.Values.deployment.tolerations }}
      tolerations:
        {{- toYaml (default $root.Values.deployment.tolerations $command.tolerations) | nindent 8 }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
