{{- $root := . -}}
{{- range $name, $deploy := .Values.deployments }}
{{- if $deploy }}
{{- $mountedConfigFiles := $deploy.mountedConfigFiles -}}
{{- if $mountedConfigFiles }}
{{- $depFullname := include "global-chart.deploymentFullname" (dict "root" $root "deploymentName" $name) }}
{{- $labelCtx := dict "root" $root "deploymentName" $name }}

{{- if $mountedConfigFiles.files }}
{{- range $i, $f := $mountedConfigFiles.files }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $depFullname }}-md-cm-{{ $f.name }}
  labels:
    {{- include "global-chart.deploymentLabels" $labelCtx | nindent 4 }}
data:
  {{ $f.filename }}: |
    {{- $content := required (printf "deployments.%s.mountedConfigFiles.files[%d] (%s): 'content' is required" $name $i $f.name) $f.content -}}
    {{- $content | nindent 4 -}}
{{- end }}
{{- end }}

{{- if $mountedConfigFiles.bundles }}
{{- range $bi, $b := $mountedConfigFiles.bundles }}
{{- range $fi, $f := $b.files }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $depFullname }}-md-cm-{{ $f.name }}
  labels:
    {{- include "global-chart.deploymentLabels" $labelCtx | nindent 4 }}
data:
  {{ $f.relPath | base }}: |
    {{- $content := required (printf "deployments.%s.mountedConfigFiles.bundles[%d].files[%d] (%s): 'content' is required" $name $bi $fi $f.name) $f.content -}}
    {{- $content | nindent 4 -}}
{{- end }}
{{- end }}
{{- end }}

{{- end }}
{{- end }}
{{- end }}
