{{- define "global-chart.partial.secret" -}}
{{- if and .Values.deployment.enabled .Values.deployment.secret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "global-chart.fullname" . }}
  labels:
    {{- include "global-chart.labels" . | nindent 4 }}
type: Opaque
data:
{{- range $key, $value := .Values.deployment.secret }}
  {{- if kindIs "string" $value }}
  {{ $key }}: {{ $value | b64enc | quote }}
  {{- else }}
  {{ $key }}: {{ toYaml $value | b64enc | quote }}
  {{- end }}
  {{- end }}
{{- end }}
{{- end }}
{{- include "global-chart.renderForDeployments" (dict "root" . "template" "global-chart.partial.secret") }}
