{{- $root := . }}
{{- range $name, $deploy := .Values.deployments }}
{{- if and $deploy $deploy.secret }}
{{- $depFullname := include "global-chart.deploymentFullname" (dict "root" $root "deploymentName" $name) }}
{{- $labelCtx := dict "root" $root "deploymentName" $name }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $depFullname }}
  labels:
    {{- include "global-chart.deploymentLabels" $labelCtx | nindent 4 }}
type: Opaque
data:
{{- range $key, $value := $deploy.secret }}
  {{- if kindIs "string" $value }}
  {{ $key }}: {{ $value | b64enc | quote }}
  {{- else }}
  {{ $key }}: {{ toYaml $value | b64enc | quote }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
