{{- $root := . }}
{{- range $name, $deploy := .Values.deployments }}
{{- if $deploy }}
{{- $svc := default (dict) $deploy.service }}
{{- $svcEnabled := true }}
{{- if and (hasKey $svc "enabled") (not $svc.enabled) }}
{{- $svcEnabled = false }}
{{- end }}
{{- if $svcEnabled }}
{{- $depFullname := include "global-chart.deploymentFullname" (dict "root" $root "deploymentName" $name) }}
{{- $labelCtx := dict "root" $root "deploymentName" $name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $depFullname }}
  labels:
    {{- include "global-chart.deploymentLabels" $labelCtx | nindent 4 }}
spec:
  type: {{ $svc.type | default "ClusterIP" }}
  ports:
    - port: {{ $svc.port | default 80 }}
      targetPort: {{ $svc.targetPort | default "http" }}
      protocol: {{ ($svc.protocol | default "TCP") | upper }}
      name: {{ $svc.portName | default "http" }}
  selector:
    {{- include "global-chart.deploymentSelectorLabels" $labelCtx | nindent 4 }}
{{- end }}
{{- end }}
{{- end }}
