name: Helm CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.19.0

      - name: Lint chart scenarios
        run: make lint-chart

      - name: Generate manifests
        run: make generate-templates

      - name: Upload generated manifests
        if: ${{ success() }}
        uses: actions/upload-artifact@v5
        with:
          name: generated-manifests
          path: generated-manifests/
